<?php

$config = new OC\CodingStandard\Config();

$config
    ->setUsingCache(true)
	->getFinder()
	->in(__DIR__)
	->exclude('c3.php')
	->exclude('l10n')
	->exclude('vendor')
	->exclude('vendor-bin');

return $config;
